html
  head
    title Sign Up - HobbyMatch
    link(rel="stylesheet" href="/style.css")
  body
    .auth-container
      .auth-box
        h1 🎉 HobbyMatch Sign Up
        
        if error
          .alert.alert-error= error
        
        form(method="POST" action="/signup")
          .form-group
            label(for="username") Username
            input#username(type="text" name="username" required)
          
          .form-group
            label(for="email") Email
            input#email(type="email" name="email" required)
          
          .form-group
            label(for="password") Password
            input#password(type="password" name="password" required minlength="6")
          
          .form-group
            label(for="location") Location (Optional)
            input#location(type="text" name="location")
          
          button.btn.btn-primary(type="submit") Sign Up
        
        .auth-link
          p Already have an account? 
            a(href="/login") Login here
    
    include ../footer.pug
