html
  head
    title Add User - HobbyMatch
    link(rel="stylesheet" href="/style.css")
  body
    nav.navbar
      .container-nav
        h1.logo 🎯 HobbyMatch
        .nav-links
          a(href="/dashboard") Dashboard
          a(href="/logout") Logout
    
    .container
      .form-container
        h1 Add New User
        
        if error
          .alert.alert-error= error
        
        form(method="POST" action="/users/add")
          .form-group
            label(for="username") Username
            input#username(type="text" name="username" required)
          
          .form-group
            label(for="email") Email
            input#email(type="email" name="email" required)
          
          .form-group
            label(for="password") Password
            input#password(type="password" name="password" required minlength="6")
          
          .form-group
            label(for="location") Location
            input#location(type="text" name="location" placeholder="Enter city or region")
          
          .button-group
            button.btn.btn-primary(type="submit") Add User
            a.btn.btn-secondary(href="/users") Cancel
