footer.footer-section
  .footer-container
    .footer-content
      .footer-column
        h3 About HobbyMatch
        p Connect with people who share your hobbies and interests
      
      .footer-column
        h3 Team Members
        ul
          li Junaid Ur Rahman
          li Mohd Sumer
          li Drashti Patel (Student ID: A00019297)
          li Farhan
          li Syed Muhammad Ubaid Ur Rahman
      
      .footer-column
        h3 Quick Links
        ul
          li: a(href="/dashboard") Dashboard
          li: a(href="/users") Users
          li: a(href="/hobbies") Hobbies
          li: a(href="/events") Events
    
    .footer-bottom
      p &copy; 2025 HobbyMatch. All rights reserved. | Made with ❤️ by our team
